@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    font-family: Lato, sans-serif;
    background-color: pale yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* background image */
.bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bgImage.png'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

/* TBAY logo */
#logo {
    width: 350px;
    height: 350px;
    margin-bottom: -25px;
    margin-top: -195px;
}

/* navigation upper right buttons*/
nav{
    position: fixed;
    top: 10px;
    right: 50px;
    display: flex;
    gap: 10px; /* Space between buttons */
}

nav button {
    width: 50%;
	padding: 10px;
    margin-top: 5%;
	margin-left: 5%;
    margin-right: 5%;
	font-size: 24px;
	font-weight: bold;
}

/* main red buttons styling, sizing done in individual css*/
.main-buttons{
    background: #feb3a2;
    color: #d70016;
    border: 3px solid #d70016;
    border-radius: 6px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.main-buttons:hover {
    background-color: #ff9999;
    border-color: #ff0000; 
    color: #fff;
}

/* main container styling */
.main-container{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50%;
    height: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.main-container h2 {
    font-size: 24px;
    color: #333;
}

/* auth container styling */
.auth-container {
	width: 50vw;
    max-width: 500px;
}

.auth-container h2 {
	font-size: 24px;
	margin-top: -55px;
	color: #333;
}

/* link styling */
.links {
	margin-top: 15px;
}

.links a {
	font-size: 14px;
	color: #007bff;
	text-decoration: none;
	margin: 0 10px;
}

.links a:hover {
	text-decoration: underline;
}